<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt6LGWM3PoL3iQiE3Dan0US6S6LjHr4ZM</string>
	<key>GCM_SENDER_ID</key>
	<string>660561097855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pincodeFetcher</string>
	<key>PROJECT_ID</key>
	<string>pincode-fetcher</string>
	<key>STORAGE_BUCKET</key>
	<string>pincode-fetcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660561097855:ios:386a073cdf44d0f3887b4a</string>
	<key>DATABASE_URL</key>
	<string>https://pincode-fetcher-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>